/* CSS Document */
:root {
	--tabBarHeight: 25px;
	--superDark: #111111;
	--dark: #333333;
	--light: #555555;

}
.tab > input {
	display: none;
}
.box {
	position: relative;
}
.tab {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
.tabBar {
	background-color: var(--dark);
	position: static;
	width: calc(100% - 2px);
	height: var(--tabBarHeight);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	border: var(--superDark) thin solid;
}
input +*+.tabContent {
	display: none;
}
input:checked +*+.tabContent {
	background-color: white;
	position: absolute;
	height: calc(100% - (var(--tabBarHeight) + 10px));
	width: 100%;
	display: block;
	top: calc(var(--tabBarHeight) + 10px);
	left: 0px;
}
label {
	font-family: Helvetica, Gotham, "Helvetica Neue", Arial, "sans-serif";
	padding: 3px 10px;
	font-size: 14px;
	height: calc(100% - 4px);
	background-color: var(--dark);
	
	border-right: var(--superDark) thin solid; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #cccccc;
	font-weight: 700;
}
input + label {
	
}
input:checked + label {
	background-color: var(--light);
}
